body{
    margin: 8px;
    /*style: "background-color:#545454";
    background-color: grey;*/

    style: "background-color:#FFFFFF";
    background-color: white;
}

.nav-wrapper{
    display: flex;
    /*justify-content: space-between;*/
    padding: 38px;
}

.nav-link-wrapper{
    margin-right: 20px;
    /*font-size: 0.9em;*/
    /*text-transform: uppercase;*/
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover{
    color: black;
}